*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

nav{
    height: 10vh; 
    padding: 0 8% 0 5%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav .logo{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: blue;
}

nav .logo a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

nav ul {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background-color: white;
    opacity: 0.85;

    transition: all 0.7s ease-in-out;
    transform: translateX(100vw);
    
}

.outside{
    transform: translateX(0);
}

nav ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: black;
} 

nav ul li a:hover, nav ul .active a{
    color: blue;
}

.hamburger {
    height: 20px;
    aspect-ratio: 3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
  
.hamburger .line {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    background-color: black;
    transition: all 0.7s ease-in-out;
}
  
.active-ham .l1 {
    transform: rotate(-45deg) translate(3px, 16px);
}
  
.active-ham .l2 {
    transform: translate(50px);
    opacity: 0;
}
  
.active-ham .l3 {
    transform: rotate(45deg) translate(4px, -15px);
}

.tabContainer{
    width: 100%;
    height: 90vh;
}
.tabContainer .buttonContainer{
    height: 10%;
    display: flex;
}
.tabContainer .buttonContainer button{
    width: 50%;
    height: 100%;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: 	#E8E8E8;
}
.tabContainer .buttonContainer button:hover{
    background-color: 	#DCDCDC;
}
.tabContainer .tabPanel{
    height: 90%;
    background-color: gray;
    display: none;
}

.tabContainer .tabPanel .text-fields{
    padding: 25px 0;
}

.tabContainer .tabPanel .text-fields .field{
    margin:  25px auto;
    width: 80%;

}

@media screen and (min-width: 650px) {
    .tabContainer .tabPanel .text-fields .field{
        width:60%; 
    }
    nav ul{
        width:60vw; 
    }
}

@media screen and (min-width: 750px) {
    .tabContainer .tabPanel .text-fields .field{
        width:50%; 
    }
    nav ul{
        width:50vw; 
    }
}

@media screen and (min-width: 850px) {
    .tabContainer .tabPanel .text-fields .field{
        width:40%; 
    }
    nav ul{
        width:40vw; 
    }
}

@media screen and (min-width: 950px) {
    .hamburger{
        display: none;
    }
    nav{
        padding:0 5%; 
    }
    nav ul{
        position: static;
        justify-content: space-between;
        gap: 0;
        flex-direction: row;
        width: 60%;
        height: 100%;
        padding: 0;
        transform: translateX(0); 
    }
    nav ul li {
        font-size: 20px;
    }
}

@media screen and (min-width: 1050px) {
    .tabContainer .tabPanel .text-fields .field{
        width:30%; 
    }
    nav ul{
        width: 50%;
    }
}

@media screen and (min-width: 1150px) {
    nav ul{
        width: 40%;
    }
}

.tabContainer .tabPanel .text-fields .btn{
    display: block;
    margin: 35px auto;
    cursor: pointer;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    background-color: rgb(48, 48, 150);

}

.tabContainer .tabPanel .text-fields .btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tabContainer .tabPanel .text-fields .view-prop-text{
    width: fit-content;
    margin: auto;
    margin-top: -20px;
    font-size: 20px;
}

.tabContainer .tabPanel .text-fields .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tabContainer .tabPanel .text-fields .approve{
    background-color: green;
    margin: 0;
}

.tabContainer .tabPanel .text-fields .reject{
    background-color: red;
    margin: 0;
}

.tabContainer .tabPanel .text-fields .alert{
    width: fit-content;
    margin: 30px auto;
    font-size: 20px;
    border: 2px dotted black;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;

}