*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh; 
    padding: 0 5%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #c7c3c3; */
}

nav .logo{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: blue;
}

nav .logo a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

nav ul {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: black;
} 

nav ul li a:hover, nav ul .active a{
    color: blue;
}

.tabContainer{
    width: 100%;
    height: 90vh;
}
.tabContainer .buttonContainer{
    height: 10%;
    display: flex;
}
.tabContainer .buttonContainer button{
    width: 50%;
    height: 100%;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: 	#E8E8E8;
}
.tabContainer .buttonContainer button:hover{
    background-color: 	#DCDCDC;
}
.tabContainer .tabPanel{
    height: 90%;
    background-color: gray;
    display: none;
}

.tabContainer .tabPanel .text-fields{
    padding: 25px 0;
}

.tabContainer .tabPanel .text-fields .field{
    margin:  25px auto;
    width: 30%;

}

.tabContainer .tabPanel .text-fields .btn{
    display: block;
    margin: 35px auto;
    /* width: 25%; */
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(48, 48, 150);

}

.tabContainer .tabPanel .text-fields .btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tabContainer .tabPanel .text-fields .view-prop-text{
    width: fit-content;
    margin: auto;
    margin-top: -20px;
    font-size: 20px;
}

.tabContainer .tabPanel .text-fields .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tabContainer .tabPanel .text-fields .approve{
    background-color: green;
    margin: 0;
}

.tabContainer .tabPanel .text-fields .reject{
    background-color: red;
    margin: 0;
}

.tabContainer .tabPanel .text-fields .alert{
    width: fit-content;
    margin: 30px auto;
    font-size: 30px;
}